
body {
    font-family: $font-family;
}
.dgrey {
    color: $Very-Dark-Grayish-Blue;
    font-weight: 700;
}
.lgrey {
    color: $Desaturated-Dark-Blue;
    font-weight: 500;
}
h1 {
    font-size: 1.1em;
}
p {
    font-size: 0.8em;
}

